{
  "root": true,
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "no-var": "error",
    "prefer-const": "error",
    "no-undef": "error"
  },
  "globals": {
    "mapboxgl": "readonly",
    "THREE": "readonly"
  }
}
